#movies img,
#movie img {
  width: 100%;
}
.brand-text {
  font-size: 2rem;
}
#react-logo {
  color: #00d8ff;
}
#imdb-logo {
  color: #f5de50;
}

.loading-container {
  display: flex;
  flex-direction: row;
}

.ssc-card {
  background-color: #003060 !important;
}

.ssc-square {
  background-color: #055c9d !important;
}

form input {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
  font-weight: bold !important;

}

form input[name="searchText"]::placeholder {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.623);
  text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

form input[name="searchText"]:focus {
  font-weight: bold;
  color: white;
  border-bottom: 1px solid white;
  text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

form input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white;
}

.fa-search {
  margin: 10px;
  color: white;
}

.movieCard {
  transform: scale(0.9);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.movieCard:hover {
  transform: scale(1);
  transition: all ease-in-out 0.3s;
}

.card-title {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-body {
  padding: 0px !important;
  border: 3px solid #fff !important;
}

.card-img {
  height: 330px;
}

.card-body h5 {
  height: 30px;
}

.card-title {
  color: #010100;
  font-weight: bold;
}

a {
  background-color: #055c9d !important;
  border: 3px solid #0e86d4 !important;
  border-radius: 10px !important;
  color: #fff !important;
  opacity: 1;
  font-weight: bold !important;
  padding: 10px;
}

a:hover {
  opacity: 0.6;
  transition: all ease-in-out 0.3s;
  text-decoration: none !important;
}

.list-group-item {
  background-color: #003060 !important;
  color: #fff !important;
  border: 1px solid #055c9d !important;
}

@media (max-width: 480px) {

  .loading-container {
    flex-direction: column;
  }

  #movies .col-md-3 .well {
    height: 390px;
  }

  #movies .col-md-3 img {
    height: 240px;
  }
}

@media (max-width: 992px) {

  .card-body img {
    height: auto;
  }
}